<div style='background: #FF7B47; padding: 10px; border: thin solid darblue; border-radius: 5px; margin-bottom: 2vh'>
    
# Session 05 - Project Notebook

<div style='background: lightsalmon; padding: 10px; border: thin solid darblue; border-radius: 5px'>

## Analysing Olympic Trends 
    
You vote, we deliver: Today, we'll take a closer look at the Olympics. We'll first perform some exploratory data analysis on the history of the olympics before we transition to some ML tasks

In [1]:
# import all potential libraries you might want to use.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import matplotlib.patches as patches

<div style='background: lightsalmon; padding: 10px; border: thin solid darblue; border-radius: 5px'>

### Load the data into a data frame

You'll find the dataset we need for today in `data/olympics.csv`. Then check out the first few rows, and also make use of the `value_counts()` method to get a better sense of the data.

In [9]:
# Load the data into a dataframe named df_olympics
df_olympics = pd.read_csv("data/olympics.csv")
df_olympics

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,USA,25:05.2
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.6
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.3
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.2
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.8
...,...,...,...,...,...,...,...,...
2389,W,Triple Jump Women,Athens,2004,S,Hrysopiyi DEVETZI,GRE,15.25
2390,W,Triple Jump Women,Athens,2004,B,Tatyana LEBEDEVA,RUS,15.14
2391,W,Triple Jump Women,Atlanta,1996,G,Inessa KRAVETS,UKR,15.33
2392,W,Triple Jump Women,Atlanta,1996,S,Inna LASOVSKAYA,RUS,14.98
2393,W,Triple Jump Women,Atlanta,1996,B,Sarka KASPARKOVA,CZE,14.98

In [10]:
# value_counts
df_olympics.value_counts("Event")

Event
Marathon Men                84
100M Men                    82
1500M Men                   81
800M Men                    81
110M Hurdles Men            80
400M Men                    80
200M Men                    78
Decathlon Men               76
400M Hurdles Men            75
3000M Steeplechase Men      72
4X400M Relay Men            71
5000M Men                   69
10000M Men                  69
4X100M Relay Men            67
Long Jump Men               63
High Jump Men               62
100M Women                  60
Discus Throw Men            60
4X100M Relay Women          60
Shot Put Men                60
Pole Vault Men              59
50Km Race Walk Men          57
Triple Jump Men             54
Hammer Throw Men            54
Discus Throw Women          53
200M Women                  51
Javelin Throw Men           50
Javelin Throw Women         50
20Km Race Walk Men          48
High Jump Women             45
800M Women                  45
Shot Put Women              41
400M Women                  39
Long Jump Women             35
100M Hurdles Women          34
1500M Women                 32
4X400M Relay Women          32
Heptathlon Women            27
Marathon Women              27
400M Hurdles Women          24
10000M Women                21
5000M Women                 18
Triple Jump Women           16
Pole Vault Women            15
20Km Race Walk Women        15
Hammer Throw Women          14
3000M Steeplechase Women     8
Name: count, dtype: int64

<div style='background: lightsalmon; padding: 10px; border: thin solid darblue; border-radius: 5px'>

### Filter the data!
    
Now pick an event & filter the dataset. We want you to perform a historical analysis of just that event!

In [ ]:
# Filter data for 100M Men event and reset the index
df_100m_men = df_olympics[df_olympics["Event"] == "100M Men"].reset_index(drop=True)

<div style='background: lightsalmon; padding: 10px; border: thin solid darblue; border-radius: 5px'>

### Ensure correct data types
    
Since you are most likely use year and results, you probably wanna make sure that these can be treated as continuous variables.

In [11]:
df_100m_men['Result'] = pd.to_numeric(df_100m_men['Result'], errors='coerce')
df_100m_men['Year'] = pd.to_numeric(df_100m_men['Year'], errors='coerce')

<div style='background: lightsalmon; padding: 10px; border: thin solid darblue; border-radius: 5px'>

### Come up with ideas & metrics

Come up with some meaningful metrics to explore historical data (wins by nation, athlete that won the most medals, winning times over time, etc.)

In [14]:
# Calculate the top 10 historic medalists
medal_points = {'G': 3, 'S': 2, 'B': 1}
df_100m_men['Points'] = df_100m_men['Medal'].map(medal_points)
top_medalists = df_100m_men.groupby('Name')['Points'].sum().sort_values(ascending=False).head(10)

# Calculate top nations throughout all Olympics
top_nations = df_100m_men.groupby('Nationality')['Points'].sum().sort_values(ascending=False)

# Calculate average and winning times for each Olympics
average_times = df_100m_men.groupby('Year')['Result'].mean().sort_index()
winning_times = df_100m_men[df_100m_men['Medal'] == 'G'].set_index('Year')['Result'].sort_index()

<div style='background: lightsalmon; padding: 10px; border: thin solid darblue; border-radius: 5px'>

### Plot results!

Plot the results using the gridspec layout as provided in the lab manual

In [ ]:

# Plotting the results using a custom gridspec layout
fig = plt.figure(figsize=(14, 8), facecolor='#ffffff')
gs = fig.add_gridspec(nrows=5, ncols=2, left=0.05, right=0.95, hspace=0.3, wspace=0.3)

# Top left plot
ax0 = fig.add_subplot(gs[0:2, 0])
ax0.bar(top_medalists.index, top_medalists.values, color='skyblue')
ax0.set_title('Top 10 Historic Medalists')
ax0.set_ylabel('Points')
ax0.tick_params(axis='x', rotation=45)

# Top right plot
ax1 = fig.add_subplot(gs[0:2, 1])
ax1.bar(top_nations.index, top_nations.values, color='orange')
ax1.set_title('Top Nations in 100M Men')
ax1.set_ylabel('Points')
ax1.tick_params(axis='x', rotation=45)

# Bottom plot spanning both columns
ax2 = fig.add_subplot(gs[3:, :])
ax2.plot(average_times.index, average_times.values, label='Average Time', marker='o', linestyle='--')
ax2.plot(winning_times.index, winning_times.values, label='Winning Time', marker='x')
ax2.set_title('Average and Winning Times in 100M Men')
ax2.set_xlabel('Year')
ax2.set_ylabel('Time (seconds)')
ax2.legend()
ax2.grid(True)
ax2.set_xticks(sorted(df_100m_men['Year'].unique()))
ax2.set_xticklabels(sorted(df_100m_men['Year'].unique()), rotation=45)

fig.suptitle('100 M Historical Analysis', fontsize=16)

plt.tight_layout()
plt.show()

<div style='background: #CBE0A4; padding: 10px; border: thin solid darblue; border-radius: 5px'>

## 2. Lab
    
In the 'data' folder there are three files containing county information about cases, deaths and population. (covid_confirmed_usafacts.csv, covid_deaths_usafacts.csv, covid_county_population_usafacts.csv). Follow the instructions in the following tasks to load, explore, process, and eventually visualize the data.

<div style='background: #CBE0A4; padding: 10px; border: thin solid darblue; border-radius: 5px'>

### Task 2.1

Load all three csv files and store them as data frames in the variables `df_cases`, `df_deaths`, `df_population`. Display the first 5 rows of each of these three data frames. Explore the columns of each data frame. Why are there 529 columns? How can we use those columns?

In [5]:
# your code here
df_cases = ''
df_deaths = ''
df_population = ''

<div style='background: #CBE0A4; padding: 10px; border: thin solid darblue; border-radius: 5px'>

### Task 2.2

Pick a random county and visualize the cases and deaths between 2020-01-22 and 2021-06-29. Use matplotlib to to draw a linechart with one line for cases and another one for deaths.

<div style='background: #CBE0A4; padding: 10px; border: thin solid darblue; border-radius: 5px'>

### Task 2.3

groupall three data frames by state and store the result in the variables `df_cases_agg`, `df_deaths_agg`, `df_population_agg`

In [6]:
# your code here
df_cases_agg = ''
df_deaths_agg = ''
df_population_agg = ''

df_cases_agg

''

<div style='background: #CBE0A4; padding: 10px; border: thin solid darblue; border-radius: 5px'>

### Task 2.4

write a function that takes a state alpha code as argument and that returns a timeline/chart for that state with the cases, deaths, case ratio (cases/population), and death ratio(deaths/population).

In [7]:
def draw_state_timeline(state_alpha_code):
    '''your code here'''

<div style='background: #CBE0A4; padding: 10px; border: thin solid darblue; border-radius: 5px'>

### Task 2.5
write a function that takes a date string as argument and that returns a bar chart of 10 counties. These 10 counties should be the counties that have the highest number of cases on that particular date. TO solve this task, make sure to sort the dataframe accordingly each time you call the function.

In [8]:
def draw_sorted_county_bars(state_alpha_code):
    '''your code here'''